{% extends 'base.htm' %}
{% block content %}
<div class="row">
  {% include 'profile/sidebar.htm' %}
  <div class="col-md-9">
    <h2>My Blogs</h2>
    <a href="{% url 'profile_add_blog' %}" class="btn btn-dark text-light float-right mb-2">Write New Blog</a>
    <table class="table table-hover">
      <thead>
        <tr><th>#</th><th>Title</th><th>Status</th><th>Action</th></tr>
      </thead>
      <tbody>
      {% for blog in page_obj %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'blogs' blog.slug %}">{{ blog.title }}</a></td>
          <td>{{ blog.status }}</td>
          <td>
            <a href="{% url 'profile_edit_blog' blog.id %}"><i class="fa fa-edit text-success"></i></a>
            &nbsp;
          <a href="#" 
              class="btn-delete-my-blog" 
              data-blog-id="{{ blog.id }}" 
              data-blog-title="{{ blog.title }}">
              <i class="fa fa-trash text-danger"></i>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="4">No Blog yet</td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="deleteMyBlogConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteMyBlogConfirmLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteMyBlogConfirmLabel">Delete Blog</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this blog:</p>
        <p><strong id="myBlogTitleToDelete"></strong></p>
        <p class="text-danger"><small>All comments and likes will be deleted too!</small></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form id="deleteMyBlogForm" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete Blog</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
console.log('script running');
console.log('jquery loaded:', typeof $ !== 'undefined');
document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.btn-delete-my-blog').forEach(btn => {
    btn.addEventListener('click', function(e) {
      e.preventDefault();
      
      const blogId = this.getAttribute('data-blog-id');
      const blogTitle = this.getAttribute('data-blog-title');
      
      document.getElementById('myBlogTitleToDelete').textContent = blogTitle;
      
      const deleteForm = document.getElementById('deleteMyBlogForm');
      deleteForm.action = `/profile/delete_blog/${blogId}/`;
      
      $('#deleteMyBlogConfirmModal').modal('show');
    });
  });
});
</script>



{% endblock %}