Django==6.0.6
asgiref==3.11.1
crispy-bootstrap4==2026.2
django-crispy-forms==2.6
pillow==12.3.0
sqlparse==0.5.5
tzdata==2026.2
dj-database-url
whitenoise
django-cloudinary-storage
cloudinary
psycopg2-binary
gunicorn